PARTNER_AIP_URL=https://localhost:25003/aip
PARTNER_ACS_FILE=../partner/acps-atr/acs.json
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
GROUP_TASK_TEXT=请各位 Partner 自我介绍并报告状态！
WAIT_SECONDS=30
